button.accordion-button,
.accordion-button:not(.collapsed) {
    background: #fff;
    color: #3C3C3C !important;
    position: relative;
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}

.data-evento,
.data-evento:hover {
    z-index: 10;
    position: absolute;
    color: #3C3C3C;
    top: 10px;
    right: 60px;
    font-weight: 600;
    background: #3c3c3c50;
    padding: 5px 10px;
    border-radius: 15px;
}