button.accordion-button,
.accordion-button:not(.collapsed) {
    background: #fff;
    color: #3C3C3C !important;
    position: relative;
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}

.data-evento,
.data-evento:hover {
    z-index: 10;
    position: absolute;
    color: #3C3C3C;
    top: 10px;
    right: 40px;
    font-weight: 600;
    background: #3c3c3c50;
    padding: 5px 10px;
    border-radius: 15px;
}

.rotativo button {
    background: linear-gradient(90deg, #80ccff 0%, #80ccff40 50%, #ffffff00 100%) !important;
}

.em-breve button {
    background: linear-gradient(90deg, #ffee80 0%, #ffee8040 50%, #ffffff00 100%) !important;
}

.finalizado button {
    background: linear-gradient(90deg, #ff8088 0%, #ff808840 50%, #ffffff00 100%) !important;
}

.em-andamento button {
    background: linear-gradient(90deg, #85ffb8 0%, #85ffb840 50%, #ffffff00 100%) !important;
}
