.div-substatus {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eficiencia-bar {
    width: 90%;
    height: 5px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 1) 90%, rgba(220,131,106,1) 10%);
}